<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ content.field_services_heading }}</h2>
      <h3 class="section-subheading text-muted">{{ content.field_service_subheading }}</h3>
    </div>
    <div class="row text-center">
      {{ content.field_services_inner_section }}
    </div>
</section>
