<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ content.field_about_heading }}</h2>
      <h3 class="section-subheading text-muted">{{ content.field_about_subheading }}</h3>
    </div>
    <ul class="timeline">
      {{ content.field__about_inner_section }}
    </ul>
    <li class="timeline-inverted">
      <div class="timeline-image">
        <h4>
          Be Part
          <br />
          Of Our
          <br />
          Story!
        </h4>
      </div>
    </li>
  </div>
</section>
